body{
    display:flex;
    justify-content: center;
    align-items: center;
    perspective: 1000px;
}

.container{
    height: 80vh;
    width: 50%;
    background:white;
    display: flex;
    justify-content: center;
    align-items: center;
}


.card{
    height: 80vh;
    width: 550px;
    background:white;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.1), 0px 20px 50px rgba(0,0,0,0.5);
    border-radius: 30px;
    transform-style: preserve-3d;
}


.shoe{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:4rem;

}
.shoe img{
    width: 23rem;
    z-index: 2;
    transition: 1s ease;
}
.circle{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    background: linear-gradient(to right, rgba(4, 97, 173, 0.651), rgb(203, 255, 192));
    position: absolute;
    z-index: 2;
}
.info{
    padding-top:3rem ;
    padding-left:2rem ;
    padding-right:2rem ;
    transition: 1s ease;
}
 
.info h1{
    font-size: 3.5rem;
    font-weight: bolder;
}
 
.info h3{
    font-size: 1.3rem;
    font-weight: lighter;
    color: #585858;
}
 
.sizes{
    display: flex;
    justify-content: space-between;
    margin-top: 2.5rem;
    transition: 1s ease;
}
 
.sizes button{
    padding: 0.9rem 1.8rem;
    border-radius: 30px;
    border: none;
    background: none;
    box-shadow: 0px 0px 20px #585858;
    font-weight: bolder;
    font-size: 1.5rem;
    color: #585858;
}
 
.purchase{
    margin-top: 1rem;
}
 
.purchase button{
    width: 100%;
    padding: 1rem 1rem;
    border-radius: 30px;
    border: none;
    background: rgb(12, 192, 12);
    color: white;
    font-weight: bolder;
    font-size: 1.6rem;
}
